version: '3.8'

services:
  api:
    build: ./api
    ports:
      - "3004:3004"
    environment:
      - PORT=3004

  web:
    build:
      context: ./frontend
      args:
        - NUXT_PUBLIC_API_BASE_URL=http://89.167.19.50:3004
    ports:
      - "3005:3005"
    environment:
      - PORT=3005
    depends_on:
      - api